*{
    font-family: 'Pretendard';
}

/* ----- 추천 ----- */
.recommend-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

/* 추천 게시글 */
.recommend {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

/* 게시글 한 개 */
.recommend-section {
    width: 225px;
    /*height: 380px;*/
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* 프로필 */
.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/* 프로필 사진 */
.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
}

/* 프로필사진 옆 상단부 */
.profile-name {
    display: flex;
    font-size: 14px;
    /* 닉네임 */
    .nick-name {
        margin-right: 5px;
    }
    /* 팔로우 버튼 */
    .follow {
        color: #35C5F0;
        font-weight: bold;
        border: none;
        background-color: white;
        cursor: pointer;
    }
}

/* 회원 자기 소개 */
.profile-text {
    font-size: 12px;
    color: #999;
}

/* 게시글 이미지 */
.post-img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* 마음/댓글 */
.like-comment {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    align-items: center;
    .like, .comment {
        display: flex;
        cursor: pointer;
    }
    /* 마음, 댓글 사진 */
    .like-img, .comment-img {
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }
    span {
        font-size: 14px;
    }
}

/* 게시글 내용 */
.cotent-section {
    padding: 5px;
    .cotent-text {
        font-size: 14px;
    }
}

/* 댓글 */
.comment {
    display: flex;
    align-items: center;
    /* 댓글 프로필 사진 */
    .comment-profile {
        display: flex;
        margin-top: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    /* 댓글 */
    .comment-text {
        font-size: 12px;
        color: #676767;
    }
}

/*recommendPostPage 페이지*/
.recommendPostPageContainer {
    width: 1280px;
    margin: auto;
}

.recommendPostPageBox{
    width: 1280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.recommendPostBtn{
    width: 76px;
    height: 37px;
    background-color: #35C5F0;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    margin-bottom: 10px;
}

.recommendPostImgContainer{
    width: 811px;
    border: 1px solid #E9E9E9;
    height: 649px;
}

.recommendPostContentContainer{
    width: 811px;
    border: 1px solid #E9E9E9;
    height: 204px;
}

.recommendPostInsertProduct{
    width: 80px;
    border: 1px solid #E9E9E9;
    height: 80px;
    border-radius: 14px;
    color: white;
    background-color: #d9d9d9;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.recommendPostSelectProduct{
    width: 510px;
    height: 403px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
    padding-left: 40px;
    padding-top: 40px;
}

.productItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.recommendPostSelectImg{
    width: 40px;
    height: 40px;
    margin: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
}

.recommendPostText{
    margin-top: 40px;
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
}

.recommendPostSelectImgText{
    margin-right: 40px;
}

.recommendPostPrevBtn, .recommendPostNextBtn{
    background-color: #F7F9FA;
    width: 40px;
    height: 40px;
    border: 1px solid #C3C3C3;
    border-radius: 3px;
}

.recommendPostPrevBtn{
    margin-right: 20px;
}

.recommendPostNextBtn{
    margin-left: 20px;
}

.recommendPostCurrentPage{
    background-color: #35C5F0;
    width:40px;
    height: 40px;
    disabled: false;
    border: none;
    color: white;
    font-size: 13px;
    border-radius: 3px;
}

.recommendPostImgBtn{
    width: 123px;
    height: 37px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 3px;
    font-weight: bolder;
    float: right;
    margin-top: 580px;
    margin-right: 40px;
}

.recommendPostPageSelect{
    width: 100px;
    height: 30px;
    border: 1px solid #7d7d7d;
    color: #7d7d7d;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bolder;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.hashtagInputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.hashtagsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.hashtagInputWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px;
    width: 806px;
    height: 36px;
}

.hashtagInInput {
    background-color: #35C5F0;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-right: 6px;
    font-size: 12px;
}

.hashtagInput {
    border: none;
    flex: 1;
    font-size: 14px;
    margin-top: 3px;
    outline: none;
}

.hashtagInput:disabled {
    background-color: transparent;
    color: #aaa;
}

.deleteHashtagBtn {
    margin-left: 5px;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 12px;
}
