*{
    font-family: 'Pretendard';
}

/* 추천 게시글 */
.recommend-container {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 허용 */
    gap: 60px; /* 카드 간 간격 */
    margin: 50px auto; /* 위아래 여백 */
    max-width: 1280px; /* 최대 너비 제한 */
    padding: 0 20px; /* 좌우 패딩 */
    box-sizing: border-box; /* 패딩 포함 계산 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    justify-content: space-between; /* 요소 간 간격 일정 */
}

/* 게시글 한 개 */
.recommend-section {
    flex: 0 0 230px; /* 너비 고정 */
    height: 400px; /* 높이 고정 */
    border-radius: 10px; /* 모서리 둥글게 */
    padding: 10px; /* 내부 여백 */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    box-sizing: border-box; /* 패딩 포함 계산 */
    display: flex;
    flex-direction: column; /* 세로 배치 */
    justify-content: space-between; /* 요소 간 간격 일정 */
    overflow: hidden; /* 넘치는 내용 숨김 */
}

/* 프로필 */
.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/* 프로필 사진 */
.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
}

/* 프로필사진 옆 상단부 */
.profile-name {
    display: flex;
    font-size: 14px;
    /* 닉네임 */
    .nick-name {
        margin-right: 5px;
    }
    /* 팔로우 버튼 */
    .follow {
        color: #35C5F0;
        font-weight: bold;
        border: none;
        background-color: white;
        cursor: pointer;
    }
}

/* 회원 자기 소개 */
.profile-text {
    font-size: 12px;
    color: #999;
}

/* 게시글 이미지 */
.post-img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover; /* 이미지 비율 유지 */
}

/* 마음/댓글 */
.like-comment {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: auto; /* 항상 아래로 배치 */
    align-items: center;
    .like, .comment {
        display: flex;
        cursor: pointer;
    }
    /* 마음, 댓글 사진 */
    .like-img, .comment-img {
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }
    span {
        font-size: 14px;
    }
}

/* 게시글 내용 */
.cotent-section {
    min-height: 20px; /* 최소 높이 확보 */
    max-height: 20px; /* 최대 높이 제한 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 생략 (...) */
    white-space: nowrap; /* 줄바꿈 방지 */
    .cotent-text {
        font-size: 14px;
    }
}

/* 댓글 */
.comment {
    display: flex;
    align-items: center;
    /* 댓글 프로필 사진 */
    .comment-profile {
        display: flex;
        margin-top: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    /* 댓글 */
    .comment-text {
        font-size: 12px;
        color: #676767;
    }
}
