.contestApplyContainer{
    width: 1280px;
    margin: auto;
}

.contestBg {
    width: 1280px;
    position: relative;
    display: flex;
    justify-content: center;
}

.contestSubjectText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -320% );
    color: #A2A2A2;
    font-size: 32px;
}

.contestDateText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, 100% );
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
}

.contestApplyPageBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( 700%, 560% );
    color: #ffffff;
    font-size: 14px;
    background-color: #35C5F0;
    border: none;
    width: 76px;
    height: 37px;
    border-radius: 4px;
    cursor: pointer;
}

.contestContentContainer {
    display: flex;
    flex-direction: column;
    margin: 0 114px;
}

.contestRow {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap; /* 줄바꿈 금지 */
    margin-bottom: 40px;
}

.contentWork {
    width: 249px;
    height: 230px;
    border-radius: 7px;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
}


.contestApplyTitleText{
    margin-left: 114px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 80px;
}

.contestApplyContentText{
    margin-left: 114px;
    font-size: 16px;
    color: #32434C;
}

.contestLikeBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.contestLikeBtn:hover{
    filter: opacity(0.5) drop-shadow(0 0 0 #282828);
}


.contestProfileImg{
    width: 26px;
    height: 26px;
    border-radius: 70%;
    overflow: hidden;
}

.contestContent{
    margin-left: 114px;
    display: flex;
}

.contentWork{
    width: 249px;
    height: 230px;
    border-radius: 7px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.contestProfileText{
    font-size: 18px;
    color: #ffffff;
    text-shadow: 3px 5px 5px #32434C;
}

#contestUserId{
    margin-left: 10px;
}

.contestProfileDiv{
    display: flex;
    margin-left: 20px;
    padding-top: 20px;
    align-items: center;
}

.contestLikeDiv{
    display: flex;
    margin-left: 12px;
    margin-top: 140px;
    align-items: center;
}

/*콘테스트 작성 화면*/
#contestPostContainer{
    width: 1260px;
    height: 1080px;
    border:none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#contestImgContainer{
    width: 1081px;
    height: 901px;
    border:none;
    margin: 40px auto 40px auto;
}

#contestPostImg{
    width: 1081px;
    height: 901px;
}

#contestPostBtnList input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

#contestPostBtn, .filebox label {
    font-size: 14px;
    border: none;
    width: 100px;
    height: 37px;
    border-radius: 4px;
    margin: auto;
    cursor: pointer;
}

#contestPostBtnList {
    width: 240px; /* 기존 값 유지 */
    margin: auto; /* 좌우 가운데 정렬 */
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 자식 요소들을 가로로 가운데 정렬 */
}

#contestPostBtn{
    color: #ffffff;
    background-color: #35C5F0;
    cursor: pointer;
}

.filebox label {
    display: inline-block;
    color: #000000;
    vertical-align: middle;
    background-color: #D9D9D9;
    text-align: center;
    line-height: 37px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

/*콘테스트 게시글 조회 페이지*/
#likeBtnImg{
    width: 40px;
    height: 47px;
}

.contestLikeDiv2{
    display: flex;
    margin-left: 60px;
    align-items: center;
}

.contestProfileDiv2{
    margin-left: 70px;
    padding-top: 20px;
    align-items: center;
}

#contestPostContainer2{
    width: 1260px;
    height: 1200px;
    border:none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contestProfileText2{
    color: black;
    font-size: 24px;
}

.contestProfileImg2{
    width: 70px;
    height: 70px;
    border-radius: 70%;
    overflow: hidden;
    margin-right: 20px;
}

#contestPostDelBtn{
    font-size: 14px;
    border: none;
    width: 66px;
    height: 33px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: #F03535;
    float: right;
    margin-right: 82px;
    margin-top: 10px;
}

#contestImgContainer2{
    width: 1081px;
    height: 901px;
    border:none;
    border-radius: 25px;
    padding: 10px;
    margin: 40px auto 40px auto;
}

.hidden{
    display: none;
}

.contestEndLikeBtn{
    background-color: transparent;
    border: none;
    filter: opacity(0.5) drop-shadow(0 0 0 #282c34);
}