@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

*{
    font-family: 'Pretendard-Regular';
    font-size: 18px;
}

img{
    vertical-align: middle;
}

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px #D5D5D5 solid;
    a{
        text-decoration: none;
        color: #000000;
    }
    .logo-name-box{
        margin-right: 50px;
        .logo-name{
            font-family: 'Dovemayo_gothic';
            font-size: 30px;
        }
    }

    .top-category-box{
        margin-right: 5rem;
        a{
            margin-right: 30px;
        }
        a.active {
            color: #35C5F0;
        }
        a:last-child{
            margin: 0;
        }
    }
}

.search-box{
    border: 1px #CACACA solid;
    border-radius: 10px;
    padding: 10px;
    width: 280px;
    height: 20px;
    margin-right: 15px;
    .search-img{
        width: 20px;
        height: auto;
        margin-right: 5px;
    }
    .search-field{
        height: 100%;
        border: none;
    }
    .search-field:focus{
        outline: none;
    }
}

.cart-box{
    margin-right: 15px;
}

.header-user-box{
    a{
        margin-right: 10px;
    }
    a::after{
        content: "|";
        margin-left: 10px;
    }
    #service:after{
        content: "";
    }
    .header-user-name{
        margin-right: 15px;
    }
}

.post-btn-box{
    .post-btn{
        width: 100px;
        height: 40px;
        border: none;
        background-color: #35C5F0;
        border-radius: 5px;
        cursor: pointer;
        margin: auto;
        span{
            color:#ffffff;
            margin-right: 4px;
        }
    }
}

#mainpage-logout{
    height: 30px;
    border: none;
    color: #5c5c5c;
    background-color: #ffffff;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
}

.sub-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px #D5D5D5 solid;
    margin-bottom: 30px;
    height: 60px;
    .sub-header-category-box{
        margin-left: 2rem;
        margin-right: 5rem;
        display: flex;
        height: inherit;
        a{
            margin-right: 30px;
            text-align: center;
            display: inline-flex;
            flex-direction: column;
            -webkit-box-pack: center;
            justify-content: center;
            box-sizing: border-box;
        }
        a.active {
            color: #35C5F0;
            border-bottom: 3px solid #35C5F0;
        }
        a:last-child{
            margin: 0;
        }
    }
}

.sub-header-realtime-search-box{
    display: flex;
    .sub-header-realtime-search, .sub-header-realtime-search-href{
        display: flex;
        font-weight: bold;
        margin-right: 5%;
        .sub-header-realtime-search-rank{
            margin-right: 10px;
            font-weight: bold;
        }
        .sub-header-realtime-search-img{
            font-size: 14px;
            color: #FF0000;
            margin-right: 10px;
        }
        .sub-header-realtime-search-product-name{
            width: 150px; /* 고정 너비 설정 */
            height: 20px;
            font-size: 16px;
            white-space: nowrap; /* 텍스트를 한 줄로 유지 */
            overflow: hidden; /* 넘치는 부분 숨김 처리 */
            text-overflow: ellipsis; /* 넘치는 텍스트 끝에 '...' 추가 */
            display: inline-block;
            vertical-align: top;
            line-height: 1.2;
            text-align: left;
        }
    }
    .sub-header-more-btn{
        background-color: #ffffff;
        border: none;
        cursor: pointer;
    }
}

.community-sub-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px #D5D5D5 solid;
    margin-bottom: 30px;
    height: 60px;
    .community-sub-header-category-box{
        margin-left: 2rem;
        margin-right: 5rem;
        display: flex;
        height: inherit;
        a{
            margin-right: 30px;
            text-align: center;
            display: inline-flex;
            flex-direction: column;
            -webkit-box-pack: center;
            justify-content: center;
            box-sizing: border-box;
        }
        a.active {
            color: #35C5F0;
            border-bottom: 3px solid #35C5F0;
        }
        a:last-child{
            margin: 0;
        }
    }
}

.contest-sub-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px #D5D5D5 solid;
    margin-bottom: 30px;
    height: 60px;
    .contest-sub-header-category-box{
        margin-left: 2rem;
        margin-right: 5rem;
        display: flex;
        height: inherit;
        a{
            margin-right: 30px;
            text-align: center;
            display: inline-flex;
            flex-direction: column;
            -webkit-box-pack: center;
            justify-content: center;
            box-sizing: border-box;
        }
        a.active {
            color: #35C5F0;
            border-bottom: 3px solid #35C5F0;
        }
        a:last-child{
            margin: 0;
        }
    }
}

.mypage_header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px #D5D5D5 solid;
    height: 50px;
    .mypage_header_category-box{
        margin-left: 2rem;
        margin-right: 5rem;
        display: flex;
        height: inherit;
        a{
            font-weight: bold;
            margin-right: 30px;
            text-align: center;
            display: inline-flex;
            flex-direction: column;
            -webkit-box-pack: center;
            justify-content: center;
            box-sizing: border-box;
        }
        a.active {
            color: #35C5F0;
            border-bottom: 3px solid #35C5F0;
        }
        a:last-child{
            margin: 0;
        }
    }
}

.products-box {
    position: absolute;
    background-color: white;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    z-index: 1000;
    margin-top: 14px;
}

.products-item {
    padding: 10px;
    cursor: pointer;

}
.products-item:hover {
    background-color: #F5F5F5;
}

#products-item-main-image{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

#products-item-main-image:hover{
    transform: scale(1.5);
    width: 80px;
    height: auto;
}



.products-search-box {
    position: absolute;
    background-color: white;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    z-index: 1000;
    margin-top: 42px;
    font-size: 14px;
}


.products-post-box {
    position: absolute;
    background-color: white;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    z-index: 1000;
    margin-top: 10px;
    font-size: 14px;
}

.products-search-item {
    padding: 20px;
    cursor: pointer;
}
.products-search-item:hover {
    background-color: #F5F5F5;
}

.products-item-font-size, .products-item-text{
    font-size: 14px;
    display: block; /* a 태그를 블록 요소로 변경 */
    width: 100%; /* 부모 div 크기만큼 확장 */
    height: 100%; /* 부모 div 크기만큼 확장 */
    text-decoration: none; /* 기본 밑줄 제거 */
    color: inherit; /* 텍스트 색상 상속 */
}

.header-post-btn-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.header-post-btn-text{
    font-weight: bold;
    font-size: 16px;
}