/* 박스 */
.set-container {
    font-size: 18px;
    width: 350px;
    padding: 50px 200px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
}

/* 회원 정보 */
.user-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    flex-direction: column;
    .user {
        padding-bottom: 10px;
        margin-right: auto;
    }
}

/* 프로필 사진*/
.set-image {
    text-align: center;
    padding: 40px;
    img {
        border-radius: 50px;
        width: 130px;
        height: 130px;
    }
}

/* text */
.user-text, .user-intro {
    font-size: 16px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: 1px darkgray solid;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

/* textarea */
.user-intro {
    height: 100px;
    padding-top: 10px;
}


/* 탈퇴하기 */
.leave {
    font-size: 15px;
}

/* 저장 버튼*/
.save {
    background: #35C5F0;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.save:hover {
    background: #008fba;
}
