/* 박스 */
.set-container {
    font-size: 18px;
    width: 350px;
    padding: 50px 200px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* 회원 정보 */
.user-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    flex-direction: column;
    .user {
        padding-bottom: 10px;
        margin-right: auto;
    }
}

/* 프로필 사진*/
.set-image {
    text-align: center;
    padding: 40px;
    img {
        border-radius: 50px;
        width: 130px;
        height: 130px;
        cursor: pointer;
    }
}

/* text */
.user-text, .user-intro {
    font-size: 16px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: 1px darkgray solid;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

/* textarea */
.user-intro {
    height: 100px;
    padding-top: 10px;
}


/* 탈퇴하기 */
.leave {
    font-size: 15px;
}

/* 저장 버튼*/
.save {
    background: #35C5F0;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.save:hover {
    background: #008fba;
}

/*마이페이지 주문 목록 페이지*/
.myShoppingPageContainer {
    font-size: 18px;
    width: 1075px;
    height: 92px;
    margin-top: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex; /* Flexbox 사용 */
    justify-content: space-around; /* 아이템 간 간격 균등 배분 */
    align-items: center; /* 세로 가운데 정렬 */
}

.myShoppingPageContainer2 {
    font-size: 18px;
    width: 1075px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 40px auto;
    border: 1px solid #E9E9E9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 가운데 정렬 */
}

.myShoppingPageSelect{
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 20px;
    width: 240px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
}

.myShoppingPageOrderImg {
    margin-left:60px;
    margin-right: 60px;
    width: 101px;
    height: 101px;
}

.myShoppingPageOrderDetails {
    display: flex;
    flex-direction: column; /* 텍스트 세로 배치 */
    justify-content: center; /* 세로 중앙 정렬 */
    flex: 1; /* 공간을 이미지와 균등 분배 */
}

.myShoppingPageOrderDetails .myShoppingPageOrderTitle {
    color: #555555;
    margin-bottom: 8px;
}

.myShoppingPageOrderDetails .myShoppingPageOrderDescription {
    margin-bottom: 8px;
}


.myShoppingPageCategoryTitle{
    margin-left: 20px;
    font-size: 16px;
}

.myShoppingPageCategoryContent{
    margin-left: 20px;
    color: #35C5F0;
    font-size: 16px;
}

.myShoppingPageCategoryBox{
    margin: auto;
    text-align: center; /* 텍스트와 아이콘 정렬 */
}

.myShoppingPageOrderDelBtn{
    float: right;
    margin-right: 40px;
    margin-top: 80px;
    width: 124px;
    height: 41px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #E9E9E9;
}

.myShoppingPageOrderDelBtn:hover{
    background-color: #35C5F0;
    border: none;
    color: white;
}

.myShoppingPageOrderDetailText{
    float: right;
    margin-right: 10px;
}

.myShoppingPageOrderBox{
    font-size: 18px;
    width: 1075px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.myShoppingPageVline{
    border-left: 1px solid #D5D5D5;
    height:70px;
    margin: auto;
}

.myShoppingPageVline2{
    border-left: 1px solid #D5D5D5;
    height:70px;
    margin: auto;
}

.myShoppingPageOrderPrice{
    margin-top: 20px;
}

.myPage_mypage, .myPage_myShoppingPage, .myPage_mypagesetting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.myPage_profile_section, .myPage_community_content, .myPage_contest_content {
    border: 1px solid #D5D5D5;
    border-radius: 10px;
    width: 1080px;
    padding: 10px 20px;
    margin-bottom: 50px;
}

.myPage_profile_section {
    margin-top: 30px;
}

.myPage_profile_info {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.myPage-profile-img {
    width: 137px;
    height: 137px;
    border-radius: 50%;
}

.myPage_profile_content_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.myPage_profile_content_name {
    margin-bottom: 5px;
    > span {
        font-size: 32px;
        font-weight: bold;
    }
}

.myPage_profile_content_follower_following {
    margin-bottom: 20px;
    color: #7d7d7d;
    > span {
        font-size: 16px;
        font-weight: 500;
    }
}

.myPage_profile_follower_number, .myPage_profile_following_number {
    margin-left: 10px;
    font-weight: 500;
    color: #000000;
}

.myPage_profile_content_setting button{
    padding: 7px 20px;
    border: 1px solid #D5D5D5;
    border-radius: 10px;
    font-size: 16px;
    background-color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* 부드러운 전환 효과 */
}

.myPage_profile_introduce_section {
    margin-bottom: 20px;
}

/*.myPage_profile_content_setting button:hover {*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); !* 그림자 효과 *!*/
/*}*/

.myPage_community_title, .myPage_contest_title {
    margin-bottom: 30px;
    >span {
        font-size: 32px;
        font-weight: bold;
    }
}

.myPage_community_title_number, .myPage_contest_title_number {
    margin-left: 20px;
    color: #35C5F0;
}

.myPage_profile_activity {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.myPage_profile_activity_post, .myPage_profile_activity_like, .myPage_profile_activity_coupons {
    > img {
        width: 45px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.myPage_profile_activity_like:hover, .myPage_profile_activity_coupons:hover {
    color: #7d7d7d; /* 텍스트 색상 변경 */
}

.myPage_profile_activity_like:hover > img, .myPage_profile_activity_coupons:hover > img {
    filter: invert(51%) sepia(4%) saturate(12%) hue-rotate(315deg) brightness(95%) contrast(92%);
}

.myPage_profile_activity_text {
    margin: 10px 0 5px 0;
    font-weight: 500;
}

.profile_profile_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 307px;
    border: 1px solid #b6b6b6;
    border-radius: 10px;
    padding: 20px 0;
}

.profile_profile_image {
    margin-bottom: 10px;
}

.profile_profile_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_profile_content_name {
    font-size: 32px;
    font-weight: bold;
}

.profile_profile_content_follower_following {
    margin: 10px 0;
    color: #7d7d7d;
    > span {
        font-size: 16px;
        font-weight: 500;
    }
}

.profile_profile_follower_number, .profile_profile_following_number {
    margin-left: 5px;
    font-weight: 500;
    color: #000000;
}

.profile_profile_activity {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 40px;
}

.profile_profile_activity_post, .profile_profile_activity_like, .profile_profile_activity_coupons {
    > img {
        width: 45px;
    }
    > span {
        margin: 5px 0;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myPage_community_img, .myPage_contest_img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 20px 30px;
    cursor: pointer;
}

/* myPage.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    width: 80%;
    max-width: 400px; /* 창의 최대 너비 */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    animation: fadeIn 0.3s ease-out;
    overflow-y: auto;
    max-height: 80%; /* 창 높이 제한 */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modal-header h2 {
    font-size: 18px;
    margin: 0;
    color: #333;
}

.modal-close {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #888;
}

.modal-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.modal-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-list-item:hover {
    background-color: #f9f9f9;
}

.modal-list-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.modal-list-item span {
    font-size: 14px;
    color: #555;
}

/* 애니메이션 효과 */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
