.payment-main-box{
    display: flex;
    justify-content: center;
}
.payment-main{
    margin: auto;
    .payment-title-section {
        width: 800px;
        margin: 50px 0;
        span{
            font-size: 26px;
            font-weight: bold;
        }
    }
    .payment-bill-section{
        width: 800px;
        .payment-order-user,
        .payment-order-delivery,
        .payment-order-product,
        .payment-order-coupon,
        .payment-order-mileage,
        .payment-order-pay{
            border-bottom: 1px #D5D5D5 solid;
            padding: 20px 0;
            display: flex;
            .payment-order-user-title,
            .payment-order-delivery-title,
            .payment-order-product-title,
            .payment-order-coupon-title,
            .payment-order-mileage-title,
            .payment-order-pay-title{
                font-size: 20px;
                font-weight: bold;
            }
            .payment-order-delivery-same-fill-btn,
            .payment-order-product-count-title,
            .payment-order-coupon-btn,
            .payment-order-mileage-sub-title{
                margin-left: 40px;
                display: flex;
                align-items: center;
            }
            .payment-order-delivery-same-fill-btn{
                color: #35C5F0;
                background-color: #ffffff;
                border: none;
                cursor: pointer;
                font-weight: bold;
            }
            .payment-order-coupon-use-title{
                color: #7d7d7d;
            }
        }
    }
    .payment-order-user-form-section,
    .payment-order-delivery-form-section,
    .payment-order-product-form-section,
    .payment-order-coupon-form-section,
    .payment-order-mileage-form-section,
    .payment-order-pay-form-section{
        margin: 30px 0;
        .payment-order-user-name-box,
        .payment-order-user-email-box,
        .payment-order-user-phone-box,
        .payment-order-delivery-name-box,
        .payment-order-delivery-phone-box,
        .payment-order-delivery-address-box{
            display: grid;
            grid-template-columns: 120px 1fr;
            margin: 20px 0;
        }
        .payment-order-user-name-text,
        .payment-order-user-email-text,
        .payment-order-user-destination-text,
        .payment-order-user-name-text,
        .payment-order-user-phone-text{
             display: flex;
             align-items: center;
         }
        .payment-order-user-email-input-box,
        .payment-order-user-phone-input-box{
            display: flex;
            align-items: center;
            div{
                margin-right: 10px;
            }
            select{
                font-size: 14px;
                border-radius: 5px;
                padding: 5px;
                height: 40px;
            }
            option{
                font-size: 14px;
                padding: 5px;
            }
        }
        .payment-order-user-name-input,
        .payment-order-user-email-input,
        .payment-order-user-phone-input-box,
        .payment-order-user-destination-input,
        .payment-order-delivery-address-main-box,
        .payment-order-delivery-address-detail-box,
        .payment-order-mileage-input-box,
        .payment-order-user-email-domain-input,
        .payment-order-user-phone-id-num-input{
            input{
                border: 1px #B3B3B3 solid;
                border-radius: 5px;
                width: 250px;
                height: 40px;
                padding: 0 10px;
            }
        }
        .payment-order-delivery-address-zipcode-box{
            button{
                border: 1px #35C5F0 solid;
                border-radius: 10px;
                background-color: #ffffff;
                color: #35C5F0;
                font-size: 14px;
                padding: 10px;
                margin-right: 10px;
                cursor: pointer;
            }
            button:hover{
                background-color: #35C5F0;
                color: #ffffff;
            }
            input{
                border: 1px #B3B3B3 solid;
                border-radius: 5px;
                width: 158px;
                height: 40px;
                padding: 0 10px;
            }
        }
        .payment-order-delivery-address-text{
            margin-top: 10px;
        }
        .payment-order-delivery-address-zipcode-box,
        .payment-order-delivery-address-main-box,
        .payment-order-delivery-address-detail-box{
            margin-bottom: 10px;
        }

        .payment-order-product-detail-box{
            border: 1px #B3B3B3 solid;
            border-radius: 5px;
            .payment-order-product-store-box{
                background-color: #EEEEEE;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 5px 5px 0 0;
                padding: 20px;
                .payment-delivery-pay-title{
                    margin-right: 10px;
                }
            }
        }
        .payment-order-product-box{
            display: flex;
            padding: 20px;
            .payment-order-product-img-box{
                img{
                    width: 120px;
                    border-radius: 5px;
                }
            }
            .payment-order-product-detail{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 20px;
                .payment-order-product-name-box{
                    margin-bottom: 20px;
                }
                .payment-order-product-option-box{
                    margin-bottom: 10px;
                }
                .payment-order-product-name span{
                    font-weight: bold;
                }
                .payment-order-product-option span{
                    color: #828c94;
                }
                .payment-order-product-cost-box{
                    display: flex;
                    .payment-order-product-cost::after{
                        content: "|";
                        margin: 0 10px;
                    }
                }
            }
        }
    }
    .payment-order-coupon,
    .payment-order-mileage-use-all-btn-box{
        display: flex;
        align-items: center;
        button{
            border: 1px #B3B3B3 solid;
            border-radius: 5px;
            background-color: #ffffff;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
            color: #3c3c3c;
        }
        button:hover{
            background-color: #ededed;
        }
    }
    .payment-order-coupon-box{
        display: flex;
        justify-content: space-between;
        border: 1px #B3B3B3 solid;
        border-radius: 5px;
        padding: 20px;
        .payment-coupon-cancel-btn-box button{
            border: none;
            border-radius: 5px;
            background-color: #ffffff;
            cursor: pointer;
        }
    }
    .payment-order-mileage-box{
        display: flex;
        margin-bottom: 20px;
        .payment-order-mileage-use-all-btn-box{
            margin-left: 10px;
        }
    }
    .payment-order-mileage-available-box span{
        font-size: 16px;
    }
    .payment-order-pay-card-box{
        display: flex;
        button{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            height: 170px;
            width: 150px;
            background-color: #ffffff;
            border: 1px #D9D9D9 solid;
            cursor: pointer;
            span{
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
        button:hover{
            background-color: #ededed;
        }
    }
}

/*쿠폰 모달참*/
.payment-coupon-modal-title {
    margin-bottom: 20px;
    span{
        font-size: 20px;
        font-weight: bold;
    }
}
.payment-coupon-modal-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 30px;
    .payment-coupon-modal-use-btn-box{
        button{
            border: none;
            border-radius: 5px;
            background-color: #35C5F0;
            color: #ffffff;
            padding: 10px;
            cursor: pointer;
        }
    }
    .payment-coupon-modal-box{
        display: flex;
        flex-direction: column;
    }
}

.payment-coupon-modal-sale-cost,
.payment-order-coupon-sale-cost{
    margin-bottom: 10px;
    span{
        font-size: 20px;
        font-weight: bold;
    }
}
.payment-coupon-modal-received-from,
.payment-order-coupon-received-from{
    margin-bottom: 5px;
}
.payment-coupon-modal-received-from,
.payment-order-coupon-received-from,
.payment-coupon-modal-use-condition,
.payment-order-coupon-use-condition{
    span{
        font-size: 16px;
        color: #979797;
    }
}

/*결제정보*/
.payment-total-cost-section{
    width: 400px;
    margin: 0 auto 0 0;
    .payment-total-cost-bill{
        margin: 50px 0 40px 0;
        border: 1px #B3B3B3 solid;
        border-radius: 5px;
    }
    .payment-total-cost-title{
        margin-bottom: 40px;
        padding: 30px 30px 0 30px;
        span{
            font-size: 20px;
            font-weight: bold;
        }
    }
    .payment-total-cost-bill-box{
        margin-bottom: 40px;
        padding: 0 30px;
        .payment-total-product-cost-box,
        .payment-total-delivery-cost-box,
        .payment-total-coupon-cost-box,
        .payment-total-mileage-cost-box{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }
    .payment-total-cost-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        margin-bottom: 50px;
        .payment-total-cost-text span{
            font-weight: bold;
        }
        .payment-total-cost span{
            font-size: 24px;
            font-weight: bold;
            color: #35C5F0;
        }
    }
    .payment-personal-info-all-agree-box{
        display: flex;
        align-items: center;
        padding: 0 30px;
        margin-bottom: 30px;
        input{
            width: 20px;
            height: 20px;
            margin: 0 10px 0 0;
            accent-color: #35C5F0;
        }
        span{
            font-size: 16px;
        }
    }
    .payment-personal-info-agree-box{
        border-radius: 0 0 5px 5px;
        padding: 20px 30px;
        background-color: #f3f3f3;
        .payment-personal-info-agree{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            input{
                width: 20px;
                height: 20px;
                margin: 0 10px 0 0;
                accent-color: #35C5F0;
            }
        }
        input, span{
            color: #7d7d7d;
            font-size: 14px;
        }
    }
    .payment-btn-section{
        button{
            width: 100%;
            padding: 20px;
            border: none;
            border-radius: 5px;
            background-color: #35C5F0;
            color: #ffffff;
            cursor: pointer;
        }
        button:hover{
            background-color: #2cbae3;
        }
    }
}

.selected{
    background-color: #c3c3c3 !important;
}