*{
    font-family: 'Pretendard';
}

.purchase-container {
    display: flex;
    justify-content: center; /* 가로 방향 중앙 정렬 */
    align-items: center; /* 세로 방향 중앙 정렬 */
    gap: 20px;
    padding: 20px;
    margin: 0;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ----- 상품 영역 ----- */
.product-section {
    flex: 2;
    border: 1px #ddd solid;
    padding: 20px;
    border-radius: 10px;
}

/* 상품 정보 */
.product-info {
    display: flex;
    margin: 5px 0;
    font-size: 0.9em;
}

/* 가게 이름 */
.store-name {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
}

/* 상품 이름 */
.product-name {
    color: #555;
}

/* 상품 이미지 */
.product-image {
    text-align: center;
    img {
        border-radius: 10px;
        width: 130px;
        height: 130px;
        padding-right: 20px;
        padding-bottom: 10px;
    }
}

/* 상품 상세 정보 */
.product-detail {
    display: flex;
    flex-direction: column;
    background: #dddddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

/* 상품 가격 */
.product-price {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

/* 상품 수량 */
.quantity-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    justify-content: space-between;
}

.quantity-control button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    background: #ffffff;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
}

.quantity-control span {
    width: 50px;
    text-align: center;
    font-size: 16px;
}


/* ----- 요약 영역 ----- */
.summary-section {
    display: flex;
    flex-direction : column;
    justify-content: space-around;
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

/* 상품 금액, 배송비, 할인금액 */
.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 0.9em;
}

/* 총 금액 */
.total-payment {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    color: #000;
}

/* 상품 구매 버튼 */
.purchase-button {
    width: 100%;
    padding: 10px;
    background-color: #35C5F0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
}

.purchase-button:hover {
    background: #008fba;
}
