*{
    font-family: 'Pretendard';
}

.cart-container {
    display: flex;
    justify-content: center; /* 가로 방향 중앙 정렬 */
    align-items: center; /* 세로 방향 중앙 정렬 */
    flex-wrap: wrap; /* 줄바꿈 허용 */
    margin: 50px auto; /* 위아래 여백 */
    max-width: 1280px; /* 최대 너비 제한 */
}

.purchase-container {
    display: flex;
    justify-content: center; /* 가로 방향 중앙 정렬 */
    align-items: center; /* 세로 방향 중앙 정렬 */
    gap: 20px;
    padding: 20px;
    max-width: 1280px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ----- 상품 영역 ----- */
.product-section {
    flex: 2;
    border: 1px #ddd solid;
    padding: 20px;
    border-radius: 10px;
    width: 900px;
}

/* 상품 한 개 */
.product-tab {
    display: flex;
    background: #f3f3f3;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    width: 800px;
    justify-content: space-between;
    align-items: center; /* 세로 방향 중앙 정렬 */
}

/* 상품 정보 */
.product-info {
    display: flex;
    margin: 5px 0;
    font-size: 10px;
    align-items: center; /* 세로 방향 중앙 정렬 */
}

/* 상품 이름 */
.product-name {
    font-size: 20px;
    font-weight: bold;
    width: 450px;
    margin-left: 20px;
}

/* 상품 이미지 */
.product-image {
    text-align: center;
    img {
        border-radius: 10px;
        width: 40px;
        height: 40px;
    }
}

/* 상품 수량 */
.quantity-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    justify-content: space-between;
    width: 110px;
}

.quantity-control button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    background: #ffffff;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
}

.quantity-control span {
    width: 50px;
    text-align: center;
    font-size: 16px;
}

/* 상품 가격 */
.product-price {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 120px;
}

.product-del {
    border: none;
    cursor: pointer;
}

/* ----- 요약 영역 ----- */
.summary-section {
    display: flex;
    flex-direction : column;
    justify-content: space-around;
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 150px;
}

/* 상품 금액, 배송비, 할인금액 */
.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 0.9em;
}

/* 총 금액 */
.total-payment {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    color: #000;
}

/* 상품 구매 버튼 */
.purchase-button {
    width: 100%;
    padding: 10px;
    background-color: #35C5F0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
}

.purchase-button:hover {
    background: #008fba;
}

/*상품 상세 페이지*/
.productDetailcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
}

.productDetailsection {
    width: 1280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.productDetailsectionImg img{
    margin-bottom: 12px;
    width: 56px;
    height: 56px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.productDetailsectionText{
    float: right;
    margin-left: 60px;
    margin-top: 40px;
    width: 391px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productDetailsectionImg, .productDetailInfoImgSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 20px;
}

.productDetailsection img {
    max-width: 100%;
}

.productDetailReviewCnt {
    font-size: 18px;
    color: #35C5F0;
    margin: 10px 10px;
}

.productDetailReviewCnt {
    font-size: 18px;
    color: #35C5F0;
    margin: 10px 10px;
}

.productDetailStoreIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.productDetailStoreIconText{
    font-size: 16px;
    color: #525B61;
}

#productDetailStoreBtn{
    color: #525B61;
    border: none;
    background-color: #EAEBEF;
    width: 80px;
    height: 24px;
    border-radius: 9.5px;
    margin-bottom: 40px;
    margin-right: 20px;
    font-size: 14px;
    float: right;
}

.productDetailsection .productDetailSelect {
    width: 391px;
    height: 42px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

#productDetailCartBtn, #productDetailSellBtn {
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 185px;
    height: 48px;
}

#productDetailCartBtn{
    border: 1px solid #35C5F0;
    color: #35C5F0;
    background-color: white;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-top: 10px;
    width: 45%;
}

#productDetailSellBtn{
    border: none;
    color: white;
    background-color: #35C5F0;
    margin: 10px 0;
    width: 45%;
}

.productDetailText {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 20px;
}

.productDetailsection .product-info {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}


.productDetailInfoImg{
    margin-top: 20px;
    width: 50%;
    height: auto;
}

.productPageImg{
    width: 534px;
    height: 534px;
    border-radius: 15px;
}

.productDetailInfo{
    display: flex;
    justify-content: center;
}

.productDetailInfo-item:nth-child(1){
    flex-shrink: 0;
}

.productDetailInfo-item:nth-child(2) {
    flex-grow: 1;
}

.productDetailImgSection, .productDetailReviewSection{
    display: flex;
}

.productDetailStoreSection{
    margin-bottom: 20px;
}

.productDetail-productCountSection{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #B3B3B3 solid;
    padding-bottom: 15px;
    align-items: center;
    .productDetail-productCount{
        border: 1px #B3B3B3 solid;
        border-radius: 10px;
        #productDetail-productCount-delBtn, #productDetail-productCount-addBtn{
            width: 40px;
            height: 30px;
            border: none;
            border-radius: 10px;
            font-size: 20px;
            background-color: #ffffff;
        }
        #productDetailCountText{
            width: 50px;
            text-align: center;
            border: none;
            outline: none;
        }
    }
}

.productDetailCashSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    #productDetailCash-Won{
        font-weight: bold;
        font-size: 24px;
    }
}

.productDetailShoppingBtnSection{
    display: flex;
    justify-content: space-between;
}

/* 중간 메뉴 바 */
.productDetailMiddleBarSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px #b3b3b3 solid;
    border-bottom: 1px #b3b3b3 solid;
    padding: 20px;
    margin-top: 40px;
}


/* 상품정보 */
.productDetailInfoText{
    font-size: 20px;
    color: #35C5F0;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.productDetailReviewText, .productDetailQnAText{
    font-size: 20px;
    text-align: center;

}

.productDetailReviewText{
    border: none;
    background-color: transparent;
    cursor: pointer;
}



/* 상품 베스트 화면 */
.shoppingBest {
    width: 1280px;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
}

/* 쇼핑 베스트 버튼 컨테이너 */
.shoppingBest_btn_container {
    padding: 60px;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
}

/* 쇼핑 베스트 버튼 */
.shoppingBest_btn {
    background-color: #35C5F0;
    color: #ffffff;
    width: 160px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    border: solid;
    border-color: #e6e6e6;
    border-width: thin;
}

/* 오늘 날짜 */
.shoppingBest_date {
    font-size: 20px;
    color: #888;
    font-weight: bold;
    padding-bottom: 10px;
}

/* 상품 목록 */
.shoppingBest_product_section {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start; /* 왼쪽 정렬 */
    margin: 20px auto auto;
}

/* 상품 */
.shoppingBest_product {
    width: 400px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* 상품 베스트 번호 */
.shoppingBest_flag {
    position: absolute;
    left: 10px;
    background-color: #35C5F0;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 2px;
    padding: 2px 5px;
    width: 40px;
    height: 60px;
    line-height: 40px;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
}

/* 이미지 컨테이너 */
.shoppingBest_img_container {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

/* 이미지 */
.shoppingBest_img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

/* 글자 영역 */
.shoppingBest_text {
    padding: 13px;
    text-align: left;
}

/* 스토어 이름 */
.shoppingBest_store_name {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 6px;
    color: #888;
    display: block;
    margin-bottom: 5px;
}

/* 상품 이름 */
.shoppingBest_product_name {
    padding-bottom: 6px;
    font-size: 18px;
    color: #333;
    display: block;
}

/* 상품 가격 */
.shoppingBest_product_price {
    padding-bottom: 4px;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    display: block;
}

/* 상품 리뷰 */
.shoppingBest_review {
    font-size: 14px;
    color: #888;
    font-weight: bold;
}


/*상품 리뷰 총점 칸*/
#reviewGreyDiv{
    background-color: #F7F8FA;
    border-radius: 20px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 하단 메뉴 바 */
.productDetailBottomBarSection{
    border-top: 1px #b3b3b3 solid;
    border-bottom: 1px #b3b3b3 solid;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
}

#reviewText, #reviewCount{
    font-weight: bolder;
    font-size: 20px;
}

#reviewCount{
    color: #35C5F0;
    margin-left: 8px;
}

#reviewBtn{
    background-color: transparent;
    border: none;
    color: #35C5F0;
    float: right;
    cursor: pointer;
}

#scopeBtn{
    background-color: #f5f5f5;
    border: none;
    float: right;
    cursor: pointer;
    color: #5c5c5c;
    font-size: 16px;
 }

#photoIcon{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.productDetailBottomBarText{
    margin-right: 12px;
    color: #5c5c5c;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.reviewDetailText, .reviewProductName{
    color: #7d7d7d;
}

.reviewDetailText{
    margin-left: 10px;
}

.reviewPhoto{
    width: 100px;
    height: 80px;
}

.reviewPhoto:hover {
    transform: scale(1.5);
    width: 200px;
    height: auto;
}

.reviewContent{
    margin-bottom: 60px;
}

.productTotalScopeDiv{
    width: 100%;
    height: 80px;
    margin-top: 60px;
    margin-left: 40px;
    display: flex;
}

.productTotalScopeStarDiv{
    display: flex;
}


.productTotalScope{
    width: 30px;
    height: 30px;
}

.productTotalScopeText {
    font-size: 26px;
    font-weight: bolder;
    margin-left: 20px;
    text-align: center;
}

.reviewModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
}

.reviewModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.reviewTextarea {
    width: 97%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
}

.starIcon {
    cursor: pointer;
    width: 24px;
    margin: 0 4px;
}

.reviewModalCol1{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.reviewModalCol2{
    margin-top: 20px;
    margin-bottom: 40px;
}

.reviewModalImg{
    width: 100px;
    height: 100px;
}

.modalSubmitButton, .modalPhotoButton{
    width: 100%;
    height: 40px;
    border-radius: 4px;
}

/* 숨기기 */
.modalPhotoButton {
    display: none;
}

/* 커스텀 버튼 스타일 */
.customFileButton {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #35C5F0;
    background-color: white;
    border: 1px solid #35C5F0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

/* 호버 효과 */
.customFileButton:hover {
    background-color: #35C5F0;
    color: white;
}


.modalSubmitButton{
    background-color: #35C5F0;
    color: white;
    border: none;
    cursor: pointer;
}

.modalSubmitButton:hover{
    background-color: white;
    color: #35C5F0;
    border: 1px solid #35C5F0;
}

.modalPhotoButton{
    background-color: white;
    color: #35C5F0;
    border: 1px solid #35C5F0;
}

#modalPhotoIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.reviewModalProductName{
    margin-left: 20px;
}

#modalCloseButton{
    float: right;
    border: none;
    background: transparent;
    color: #cccccc;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.pagination2 {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.pagination2 button {
    padding: 5px 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #35C5F0;
    background-color: transparent;
    color: #35C5F0;
    border-radius: 4px;
    margin-bottom: 40px;
}

.pagination button.active {
    font-weight: bold;
    color: white;
    background-color: #35C5F0;
}

.pagination button:hover {
    background-color: #35C5F0;
    color: white;
}

#pageTopBtn{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: none;
    background-color: #F7F8FA;
    color: #888888;
    font-size: 14px;
    cursor: pointer;
}

#photoReviewSelectBtn:hover{
    color: #35C5F0;
}

#photoReviewAllSelectBtn:hover{
    color: #35C5F0;
}